<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- <add key ="Mode" value ="Daily"/> -->
    <add key ="Mode" value ="Interval"/>
    <add key ="IntervalMinutes" value ="1"/>
    <add key ="ApiUrlBase" value ="http://hiefficiencybar.com/api/"/>
    <add key ="LoginUrl" value ="user/me/"/>
    <add key ="CurrentFIFOUrl" value ="user/order/"/>
    <add key ="ChangeRobotStatusUrl" value ="robot/change/"/>
    <add key ="WebSocketUrl" value ="ws://hiefficiencybar.com:80/"/>
    <add key ="Username" value ="robot@hiefficiencybar.com"/>
    <add key ="Password" value ="password1231"/>
    <add key ="LogPath" value ="C:\\Users\\Robot.WIN-096KFRS6IAV\\source\\repos\\HiEff-OrdersService\\HiEff-OrdersService\\OrdersServiceLog.txt"/>
    <!-- <add key ="ScheduledTime" value ="08:15"/>
    <add key="ConnString" value="Server=192.168.0.11;Initial Catalog=mpBS;Persist Security Info=False;User ID=punk;Password=PaN12#3Trajko;MultipleActiveResultSets=True;Encrypt=False;TrustServerCertificate=False;Connection Timeout=30;"/>
    <add key="ConnStringNT" value="Server=192.168.100.2;Initial Catalog=baza;Persist Security Info=False;User ID=trajce;Password=punktr;MultipleActiveResultSets=True;Encrypt=False;TrustServerCertificate=False;Connection Timeout=30;"/>
    <add key="ConnStringAzure" value="Server=mpcloudserver.database.windows.net;Initial Catalog=mbBS;Integrated Security=False;User ID=bsUser;Password=PaN12#3Trajko;Connect Timeout=60;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>-->
  </appSettings>
</configuration>